<div class="container" ng-init="active='login'">
	<div ng-show="active == 'login'" class="loginbox mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info" >
			
			<div class="panel-heading">
				<div class="panel-title">Sign In</div>
				<div class="head-link"><a ng-click="active='forgotPassword'" ng-href="#">Forgot password?</a></div>
			</div>

			<div class="panel-body" >
				<div style="display: none" class="login-alert alert alert-danger col-sm-12"></div>
				<form ng-submit="login()" class="loginform form-horizontal" role="form">
					<div class="input-group field-wrap">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input ng-model="singupUser.email" type="text" class="login-username form-control" name="username" value="" placeholder="username or email">
					</div>
					<div class="input-group field-wrap">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input ng-model="singupUser.password" type="password" class="login-password form-control" name="password" placeholder="password">
					</div>
					<div class="input-group">
						<div class="checkbox">
							<label>
								<input class="login-remember" type="checkbox" name="remember" value="1"> Remember me
							</label>
						</div>
					</div>
					<div class="form-group btn-wrap">
						<div class="col-sm-12 controls">
							<input type="submit" class="btn-login btn btn-success" value="Login"/>
							<a ng-href="#" class="btn-fblogin btn btn-primary">Login with Facebook</a>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 control">
							<div>
								Don't have an account!
								<a ng-href="#" ng-click="active='singupbox'">
									Sign Up Here
								</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div ng-show="active == 'singupbox'" class="signupbox mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Sign Up</div>
				<div class="head-link"><a class="signinlink" ng-click="active='login';" ng-href="#">Sign In</a></div>
			</div>
			<div class="panel-body" >
				<form name="userForm" ng-submit="singupFormSubmit(singupUser)" class="signupform form-horizontal" role="form">
					<div style="display:none" class="signupalert alert alert-danger">
						<p>Error:</p>
						<span></span>
					</div>
					<div class="form-group">
						<label for="email" class="col-md-3 control-label">Email</label>
						<div class="col-md-9">
							<input ng-model="singupUser.email" type="email" name="email" class="form-control" placeholder="Email Address" required>
						</div>
					</div>
					<div class="form-group">
						<label for="firstname" class="col-md-3 control-label">First Name</label>
						<div class="col-md-9">
							<input ng-model="singupUser.first_name" type="text" class="form-control" name="firstname" placeholder="First Name" required>
						</div>
					</div>					
					<div class="form-group">
						<label for="lastname" class="col-md-3 control-label">Last Name</label>
						<div class="col-md-9">
							<input ng-model="singupUser.last_name" type="text" class="form-control" name="lastname" placeholder="Last Name" required>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-md-3 control-label">Password</label>
						<div class="col-md-9">
							<input ng-model="singupUser.password" type="password" class="form-control" name="password" placeholder="Password" required>
						</div>
					</div>
					<div class="form-group">
						<label for="password2" class="col-md-3 control-label">Password again</label>
						<div class="col-md-9">
							<input ng-model="singupUser.password2" type="password" class="form-control" name="password2" placeholder="Password again" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-3 col-md-9">
							<button type="submit" class="btn-signup btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
							<span style="margin-left:8px;">or</span>
						</div>
					</div>
					<div style="border-top: 1px solid #999; padding-top: 20px" class="form-group">
						<div class="col-md-offset-3 col-md-9">
							<button type="button" class="btn-fbsignup btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div ng-show="active == 'forgotPassword'" class="forgot-password mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info" >

			<div class="panel-heading">
				<div class="panel-title">Find Your Account</div>
				<div class="head-link"><a ng-click="active='login'" ng-href="#">Sign In</a></div>
			</div>

			<div class="panel-body" >
				<div style="display: none" class="login-alert alert alert-danger col-sm-12"></div>
				<form class="loginform form-horizontal" role="form">
					<div class="input-group field-wrap">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input ng-model="singupUser.email" type="text" class="login-username form-control" name="username" value="" placeholder="username or email">
					</div>
					<div class="form-group btn-wrap">
						<div class="col-sm-12 controls">
							<a ng-href="#" class="btn-login btn btn-primary">Find</a>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 control">
							<div>
								<a ng-href="#">
									I can't identify my account
								</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div ng-show="active == 'userExist'" class="user-exist mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info" >

			<div class="panel-heading">
				<div class="panel-title">Account with this email is already exist</div>
				<div class="head-link"><a ng-click="active='login'" ng-href="#">Sign In</a></div>
			</div>
			
			<div class="panel-body" >
				<div class="panel-footer">You can restore the password.</div>
				
				<div style="display: none" class="login-alert alert alert-danger col-sm-12"></div>
				<form class="restoreUser form-horizontal" role="form">
					<div class="input-group field-wrap">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input ng-model="singupUser.email" type="email" name="email" class="login-username form-control" value="" placeholder="enter your email to restore password">
					</div>
					<div class="form-group btn-wrap">
						<div class="col-sm-12 controls">
							<a ng-href="#" class="btn-login btn btn-primary">Send</a>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 control">
							<div>
								<a ng-click="singupUser.email=''; active = 'singupbox'" ng-href="#">
									Create new account
								</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
    