body { 
    padding-top: 30px
}

.head-link {
    float: right;
    font-size: 80%;
    position: relative;
    top: -10px
}

.loginbox, .signupbox, .forgot-password, .user-exist{
    margin-top: 50px
}

.loginbox .panel > .panel-body,
.forgot-password .panel > .panel-body,
.user-exist .panel > .panel-body {
    padding-top: 30px
}

.loginbox form .field-wrap,
.forgot-password form .field-wrap,
.user-exist form .field-wrap {
    margin-bottom: 25px
}

.loginbox form .btn-wrap,
.forgot-password form .btn-wrap,
.user-exist form .btn-wrap {
    margin-top: 10px
}

.loginbox form .control div,
.forgot-password form .control div,
.user-exist form .control div {
    border-top: 1px solid#888;
    padding-top:15px;
    font-size:85%
}

input.ng-invalid.ng-dirty {
    border-color: #e94256;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 56, 96, 0.60);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 36, 57, 0.60);
}

/*div.forbidden-words, div.words{*/
    /*width: 20%;*/
/*}*/

/*div.card-preview {*/
    /*width: 48%;*/
/*}*/

form.create-cards div.forbidden-words input{
    margin: 5px;
}

[cards-slider] li.active .thumbnail{
    background-color: peachpuff;
    border: 1px solid black
}